.welcome-wrapper {
	border: 1px solid green;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	box-shadow: 3px 3px 3px gray;
}


.welcome {
	color: green;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}