<!-- <nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand">Keto Kitchen</a>
		</div>
		<div class="navbar-default">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
				<li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<ng-template [ngIf]="!authService.isAuthenticated()">
						<li><a routerLink="/signin">Sign In</a></li>
						<li><a routerLink="/signup">Signup</a></li>
				</ng-template>	
				<li *ngIf="authService.isAuthenticated()"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>	
				<li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
					<a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li><a style="cursor: pointer;" (click)="saveRecipes()">Save Data</a></li>
						<li><a style="cursor: pointer;" (click)="getRecipes()">Fetch Data</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav> -->
<nav>
	<mat-toolbar color="primary">
		<mat-toolbar-row class="toolbar">
			<button mat-flat-button routerLink="/" class="title">Keto Kitchen</button>
			
			<button mat-button routerLink="/recipes" class="item-spacer">Recipes</button>
			<button mat-button routerLink="/shopping-list" class="item-spacer">Shopping List</button>
			<span class="example-spacer"></span>
			<button mat-button  routerLink="/signin" class="item-spacer">Sign In</button>
			<button mat-button  routerLink="/signup"class="item-spacer">Signup</button>
			<!-- <mat-icon class="example-icon">favorite</mat-icon>
			<mat-icon class="example-icon">delete</mat-icon> -->
		</mat-toolbar-row>
	</mat-toolbar>
</nav>
